html, body {
	height: 100%;
	scroll-behavior: smooth;
}

.sec1, #sec2, #sec3 {
	height: 100%;
	width: 100%;
	padding-top: 50px;
}
.sec1{
	position: relative;
	z-index: 1;
}
.sec1 .bg {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../assets/73010.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(15px);
}


#sec2 .bg {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../assets/home3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(15px);
}
#sec2 {
	position: relative;
	z-index: 1;
}
#sec3{
	position: relative;
	z-index: 1;
}
#sec3 .bg{
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../assets/home4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(20px);
}

