html, body {
	height: 100%;
	scroll-behavior: smooth;
}

.sec1, #sec2, #sec3 {
	height: 100%;
	width: 100%;
	background-color: rgba(200, 100, 100, 0.9);
	padding-top: 50px;
}

#sec2 {
	background-color: rgba(200, 50, 140, 0.9);
}

#sec3 {
	background-color: rgba(150, 50, 180, 0.9);
}

